@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
body
{
  background: linear-gradient(90deg , #0e3959 30% , #0e3959 30% , #03a9f5 30% , #03a9f5 100% );
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maincontent{
  float: left;
  padding: 20px;
  width: 70%;
  border: 2px solid white;
  background-color: #fff;

}

.first_name{
  width: 50%;


}

.last_name{
  width: 50%;
}
.fl{
  margin-top: 20px;
  width: 100%;
  display: flex;
}
.message{
  margin-top: 20px;:
}
  .message textarea
{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
  width: 600px;
}
.message input[ type="submit"]
{
  background: #ff578b;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  }

h2{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
  span
  {
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  input
{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}



/*aside*/
.info
{
  background:  #0e3959;

}
.info h3
{
  color: #fff;
}
.info .InfoBox div
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .InfoBox div span
{
  min-width: 40px;
  height: 40px;
  color: white;
  background:#03a9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;

}
.info .InfoBox div p
{
  color: gray;
  font-size: 1.1em;
}
.info .InfoBox div a
{
  color: gray;
  text-decoration: none;
  font-size: 1.1em;
}
.sci
{
  margin-top: 40px;
  display: flex;

}
.sci li
{
  list-style: none;
  margin-right: 15px;
  color: blue;
  }
.sci li a
{
  color: #fff;
  font-size: 2em;
  color: #ccc;
}
.sci li a:hover
{
  color: #fff;
}

.contact
{
  padding:40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.info
{
  grid-area: info;
}
.contact h3
{
  color: #0e3959;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom:10px;
}

.map
{
  padding:0;
  color: #fff;
}
.map iframe
{
  width: 30%;

}
